.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.video {
  display: block;
  width: 400px;
  margin: auto;
}

.videoContainer {
  width: 100%;
  margin: auto;
}
